body {
    background-color: #f0f0f0; /* Цвет фона страницы */
    font-family: Arial, sans-serif; /* Шрифт для текста */
}

.button-container {
    display: flex; /* Используем flexbox для горизонтального расположения кнопок */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    align-items: center; /* Центрируем кнопки по вертикали */
}

.button {
    background-size: cover; /* Убедитесь, что фон кнопок заполняет весь элемент */
    width: 200px; /* Установите ширину кнопок */
    height: 400px; /* Установите высоту кнопок */
    display: flex; /* Используем flexbox для центровки текста */
    justify-content: center; /* Центрируем текст по горизонтали */
    align-items: center; /* Центрируем текст по вертикали */
    border-radius: 10px; /* Скругление углов кнопок */
    margin: 10px; /* Отступ между кнопками */
}

.button a {
    text-decoration: none; /* Убираем подчеркивание */
    color: white; /* Цвет текста */
    font-size: 18px; /* Установите размер шрифта, если нужно */
}

.button a:hover {
    text-decoration: none; /* Убираем подчеркивание при наведении */
}
